#
####### requirements.txt #######
#
###### OpenStack Requirements ######
python-swiftclient
python-novaclient
python-keystoneclient
python-glanceclient
python-quantumclient
python-cinderclient
#
###### CWL Requirements ######
cwlref-runner
#
